.sortIcon {
	display: none;
}

.active .sortIcon {
	display: block;
	margin-right: 8px;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sortItem {
	display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-size: 16px;
	line-height: 22px;
}

.sortItem svg {
	margin-right: 8px;
}
