.reviewHead {
	display: grid;
	grid-template-columns: 30px auto auto 1fr auto;
	align-items: center;
}

.reviewUserTitle {
	margin-left: 10px;
	display: block;
}

.reviewUser span {
	margin-right: 10px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

.date {
	justify-self: flex-end;
	margin-right: 20px;
	font-size: 14px;
	line-height: 19px;
}

.reviewDescription {
	margin-top: 10px;
}

@media screen and (max-width: 1100px) {
	.reviewHead {
		grid-template-columns: 30px auto 1fr;
		gap: 20px;
		grid-template-areas:
			'icon title helpText'
			'date date rating';
	}
	.date {
		grid-area: date;
		justify-self: flex-start;
	}
	.reviewUserTitle {
		grid-area: title;
	}
	.icon {
		grid-area: icon;
	}
	.helpText {
		grid-area: helpText;
	}
	.rating {
		grid-area: rating;
		justify-self: flex-end;
	}
	.reviewDescription {
		margin-top: 20px;
	}
}

@media screen and (max-width: 640px) {
	.reviewHead {
		grid-template-columns: 30px 1fr;
		grid-template-areas:
			'icon title'
			'helpText helpText'
			'date rating';
	}
	.date {
		white-space: nowrap;
	}
}
